.container main .card-container-carrito .card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container main .card-container-carrito .card .seccion{
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}

.container main .card-container-carrito .card img{
    height: 200px;
}

.container main h3{
    font-size: 1.7rem
}