*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    border: 1px solid black;
    width: 100%;
}

aside{
    padding: 10px;
    height: 100vh;
    width: 15vw;
    border: 1px solid red;
}

.logo{
    display: flex;
    gap: 10px;
}

.options{
    display: flex;
    gap: 10px;
}

.main-content{
    height: 100%;
    width: 100%;
    border: 2px solid blue;
}   

header{
    border: 1px solid gold;
    height: 6vh;
    width: 100%;
}

nav{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

main{
    display: grid;
    grid-template-columns: repeat(4 1fr);
    grid-template-rows: auto;
    gap: 20px;
    padding-top: 30px;
    padding-left: 20px;
}

.title-content{
    grid-column: 1/span 4;
}